@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:400,400i,600,700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%;
	font: inherit; */
    vertical-align: baseline;
}


.cursor_pointer {
    cursor: pointer;
}

/* assigment 8  */

.form-check-input:disabled {
    opacity: 1;
}


/* 24 October 2024 */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 100;
    height: calc(100vh - 56px);
    width: 200px;
    padding: 48px 0 0;
    background-color: #343a40;
}

.content {
    margin-left: 200px;
    padding: 20px;
    flex-grow: 1;
    padding-top: 100px;
}

.footer {
    position: fixed;
    bottom: -26px;
    left: 0;
    right: 0;
    height: 56px;
    background-color: #343a40;
}

.navbar {
    background-color: #495057;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ffc107;
}

.footer .text-muted {
    color: #ffffff !important;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}